*{
   background-color:#DDFFFF;
}
h1{
   font-family: 'Poiret One', cursive;
   font-size: 60px;
   text-align: center;
}
h2{
   font-family: 'Poiret One', cursive;
   font-size: 24px;
   text-align: center;
}
p{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
}
h3{
   font-family: 'Poiret one', cursive;
   font-size: 20px;
}
ol{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
}
cite{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
}
