*{
   background-color:#DDFFFF;
   height: 2000px;
}
h1{
   font-family: 'Poiret One', cursive;
   font-size: 60px;
   text-align: center;
}
h2{
   font-family: 'Poiret One', cursive;
   font-size: 20px;
   text-align: center;
}
p{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
   line-height: 1;
}
h3{
   font-family: 'Poiret one', cursive;
   font-size: 18px;
   line-height: 2;
}
li{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
   line-height: 3;
}

cite{
   font-family: 'Cormorant Garamond', serif;
   font-size: 14px;
}
