*{
   background-color:#DDFFFF;
}
h1{
   font-family: 'Special Elite', cursive;
   font-size: 72px;
   text-align: center;
}
h2{
   font-family: 'Special Elite', cursive;
   font-size: 24px;
   text-align: center;
}
blockquote{
   font-style: 'Cormorant Garamond', sans-serif;
   font-size: 12px;
}
h3{
   font-family: 'Special Elite', cursive;
   font-size: 20px;
}
